# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.axf
*.lst

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# MCUXpresso workspace files
.settings/
.launches/
*.launch

# SDK drivers and middleware
drivers/
device/
CMSIS/
component/
utilities/
xip/
board/

# MCUXpresso project files
startup/
utilities/
Debug/
doc/
*.cproject
*.project
.mcuxpressoide_packages_suport_*

# MCUXpresso build artefacts
*.ninja
*.ninja_deps
*.ninja_log
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Linker files
*.ld

# Flash driver files
*.cfx

# Memory configuration
*.mex

# OS files
Thumbs.db
.DS_Store
